<div class="pagetitle">
    <h1>Councli</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="home/page">Councli</a></li>
        <li class="breadcrumb-item active">Danh sách hội đồng</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <div class="table-responsive">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-5">
                    <h2>Danh Sách <b>Hội đồng</b></h2>
                </div>
                
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Tên hội đồng</th>
                    <th>Đợt bảo vệ</th>
                    <th>Bộ môn</th>
                   <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let t of counclis">
                    <td>{{t.coucilId}}</td>
                    <td>{{t.coucilName}}</td>
                    <td>{{t.masterName}}</td>
                    <td>{{t.subjectName}}</td>
                    <td></td>
                   
                </tr>

            </tbody>
        </table>
        <div class="clearfix">

          <nav aria-label="Page navigation example " >
            <ul class="pagination justify-content-center" >
              <li class="page-item "  >
                <a class="page-link"  >Previous</a>
              </li>
              <li class="page-item"><a class="page-link" ></a></li>

              <li class="page-item"  >
                <a class="page-link" >Next</a>
              </li>
            </ul>
          </nav>
        </div>
    </div>
</div>

<!-- <div class="modal fade" id="verticalycentered" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Vertically Centered</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row mb-3">
          <label for="inputNumber" class="col-sm-2 col-form-label">Import</label>
          <div class="col-sm-10"  >
            <input class="form-control" #file type="file" id="formFile" >
          </div>
          
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ></button>
      </div>
    </div>
  </div>
</div> -->
