<body>
  <script src="/QLCSVCApp/src/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->
  <section class="section dashboard">
    <div class="row">
      <!-- Left side columns -->
      <div class="col-lg-12">
        <div class="row">
          <!-- Sales Card -->
          <div class="col-xxl-3 col-md-3" *ngIf="ktraBoMon">
            <div class="card info-card sales-card">
              <div class="card-body">
                <h5 class="card-title">Tổng sinh viên sinh viên trong bộ môn</h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="bi bi-cart"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{countMasterDetail}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Sales Card -->

          <!-- Revenue Card -->
          <div class="col-xxl-3 col-md-3" *ngIf="ktraBoMon">
            <div class="card info-card revenue-card">
              <div class="card-body">
                <h5 class="card-title">Tổng giảng viên trong bộ môn </h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="fa-solid fa-house"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{countTeachers}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div> 
          <!-- End Revenue Card -->

          <!-- Customers Card -->
          <div class="col-xxl-3 col-xl-3" *ngIf="ktraBoMon">
            <div class="card info-card customers-card">
              <div class="card-body">
                <h5 class="card-title">Tổng số đợt bảo vệ trong bộ môn</h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="bi bi-people"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{countMasters}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Customers Card -->

          <div class="col-xxl-3 col-xl-3" *ngIf="ktraBoMon">
            <div class="card info-card customers-card">
              <div class="card-body">
                <h5 class="card-title">Tổng số hội đồng trong bộ môn</h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="bi bi-people"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{countCounclis}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Customers Card -->

          <div class="col-xxl-3 col-md-3" *ngIf="ktraGiangVien">
            <div class="card info-card sales-card">
              <div class="card-body">
                <h5 class="card-title">Số sinh viên hướng dẫn</h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="bi bi-cart"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{svHD}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-3 col-md-3" *ngIf="ktraGiangVien">
            <div class="card info-card revenue-card">
              <div class="card-body">
                <h5 class="card-title">Số sinh viên phản biện</h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="fa-solid fa-house"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{svPB}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-3 col-xl-3" *ngIf="ktraGiangVien">
            <div class="card info-card customers-card">
              <div class="card-body">
                <h5 class="card-title">Số sinh viên đạt</h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="bi bi-people"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{svMoreThan}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-3 col-xl-3" *ngIf="ktraGiangVien">
            <div class="card info-card customers-card">
              <div class="card-body">
                <h5 class="card-title">Số sinh viên không đạt</h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="bi bi-people"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{svLessThan}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Top Selling -->
          <div class="col-12">
            <div class="card top-selling overflow-auto">
              <div class="card-body pb-0">
                <h5 class="card-title">Danh sách sinh viên không đạt</h5>

                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Mã số sinh viên</th>
                      <th scope="col">Họ tên</th>
                      <th scope="col">Tên đề tài(Tiếng Việt)</th>
                      <th scope="col">Tên đề tài(Tiếng Anh)</th>
                      <th scope="col">Đợt bảo vệ</th>
                      <th scope="col">Điểm phản biện</th>
                      <th scope="col">Điểm bảo vệ</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let detail of masterDetails">
                        <th scope="row">
                          <a>{{ detail.masterDetailId }}</a>
                        </th>
                        <td>{{detail.mssv}}</td>
                        <td>{{detail.studentName}}</td>
                        <td>{{detail.titleNameVn}}</td>
                        <td>{{detail.titleNameEn}}</td>
                        <td>{{detail.masterName}}</td>
                        <td>{{detail.scoreArgument}}</td>
                        <td>{{detail.scoreCoucil}}</td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- End Top Selling -->
        </div>
      </div>
     
    </div>
  </section>
 
</body>
