<div class="pagetitle">
    <h1>Master</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a>Master</a></li>
        <li class="breadcrumb-item active">Thêm mới đợt bảo vệ</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  <section class="section profile">
    <div class="row">
      <div class="col-xl-12">
  
        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">
  
              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-edit">Thêm mới đợt bảo vệ</button>
              </li>
            </ul>
            <div class="tab-content pt-2">
              <div class="tab-pane fade show active profile-edit pt-3" id="profile-edit">
  
                <!-- Profile Edit Form -->
                <form [formGroup]="addMaster" >
  
                  <div class="row mb-3" style="margin-bottom: 10px;">
                    <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Tên đợt bảo vệ</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="fullName" formControlName="masterName" type="text" class="form-control" id="fullName" >
                      <!-- <p class="text-danger mt-2"  *ngIf="(addForm.get('studentName').touched ||submited)&& addForm.get('studentName').errors?.['required']">Trường này không được bỏ trống.</p> -->
                    </div>
                  </div>

                  <div class="row mb-3" style="margin-bottom: 10px;">
                    <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Ngày bắt đầu</label>
                    <div class="col-md-8 col-lg-9">
                        <input type="date" class="form-control" formControlName="startDate" id="date">
                      <!-- <p class="text-danger mt-2"  *ngIf="(addForm.get('studentName').touched ||submited)&& addForm.get('studentName').errors?.['required']">Trường này không được bỏ trống.</p> -->
                    </div>
                  </div>

                  <div class="row mb-3" style="margin-bottom: 10px;">
                    <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Tên sinh viên</label>
                    <div class="col-md-8 col-lg-9">
                        <input type="date" class="form-control" formControlName="endDate" id="date">
                      <!-- <p class="text-danger mt-2"  *ngIf="(addForm.get('studentName').touched ||submited)&& addForm.get('studentName').errors?.['required']">Trường này không được bỏ trống.</p> -->
                    </div>
                  </div>

                  <!-- <div class="row mb-3">
                    <label for="inputDate" class="col-sm-2 col-form-label">Ngày kết thúc</label>
                    <div class="col-md-8 col-lg-9">
                      <input type="date" class="form-control">
                    </div>
                  </div> -->
                  <div class="row mb-3">
                    <label for="Address" class="col-md-4 col-lg-3 col-form-label">Bộ môn</label>
                    <div class="col-md-4 col-lg-5 d-flex align-items-center" >
                      <select class="form-select form-select-sm " #select formControlName="subjectId" aria-label=".form-select-lg example">
                        <option value="" disabled>--Chọn bộ môn--</option>
                        <option *ngFor="let s of subjects" value={{s.subjectId}} >{{s.subjectName}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="text-center">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#verticalycentered">
                      Thêm mới 
                    </button>
                  </div>
                  
                  <div class="modal fade" id="verticalycentered" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Vertically Centered</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          Xác nhận thêm mới đợt bảo vệ
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary" (click)="addMasters(addMaster.value)">Xác nhận</button>
                        </div>
                      </div>
                    </div>
                  </div><!-- End Vertically centered Modal-->
                </form><!-- End Profile Edit Form -->
  
              </div>
  
            </div><!-- End Bordered Tabs -->
  
          </div>
        </div>
  
      </div>
    </div>
  </section>
  