<div class="pagetitle">
    <h1>Master</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a>Master</a></li>
        <li class="breadcrumb-item active">Thêm mới đợt bảo vệ</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  <section class="section profile">
    <div class="row">
      <div class="col-xl-12">
  
        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">
  
              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Thêm mới hội đồng</button>
              </li>

              <li class="nav-item" >
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Thêm giảng viên vào hội đồng</button>
              </li>
            </ul>
            <div class="tab-content pt-2">
              <div class="tab-pane fade show active profile-overview" id="profile-overview">
  
                <!-- Profile Edit Form -->
                <form [formGroup]="addCouncli" >
  
                  <div class="row mb-3" style="margin-bottom: 10px;">
                    <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Tên hội đồng</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="fullName" formControlName="coucilName" type="text" class="form-control" id="fullName" >
                      <!-- <p class="text-danger mt-2"  *ngIf="(addForm.get('studentName').touched ||submited)&& addForm.get('studentName').errors?.['required']">Trường này không được bỏ trống.</p> -->
                    </div>
                  </div>

                  <div class="row mb-3" style="margin-bottom: 10px;">
                    <ng-container  >
                       <label for="Instagram" class="col-md-4 col-lg-3 col-form-label">Đợt bảo vệ</label>
                     <div class="col-md-4 col-lg-5 d-flex align-items-center" >
                       <select class="form-select form-select-sm " #select formControlName="masterId" aria-label=".form-select-lg example">
                         <option [value]="" disabled>--Chọn đợt bảo vệ--</option>
                         <option *ngFor="let m of maters" value="{{m.masterId}}">{{m.masterName}}</option>
                       </select>
                     </div>
                    </ng-container>
                 </div>
                  <div class="row mb-3">
                    <label for="Address" class="col-md-4 col-lg-3 col-form-label">Bộ môn</label>
                    <div class="col-md-4 col-lg-5 d-flex align-items-center" >
                      <select class="form-select form-select-sm " #select formControlName="subjectId" aria-label=".form-select-lg example">
                        <option [value]="" disabled>--Chọn bộ môn--</option>
                        <option  [value]="1">Khoa học máy tính</option>
                      </select>
                    </div>
                  </div>
                  <div class="text-center">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" (click)="addCounclis(addCouncli.value)">
                      Thêm mới 
                    </button>
                  </div>
                  
                  <!-- <div class="modal fade" id="verticalycentered" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Vertically Centered</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          Xác nhận thêm mới hội đồng
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary" (click)="addCounclis(addCouncli.value)">Xác nhận</button>
                        </div>
                      </div>
                    </div>
                  </div> -->
                </form><!-- End Profile Edit Form -->
  
              </div>


              <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                <!-- Profile Edit Form -->
                <form enctype="multipart/form-data" [formGroup]="addTeacherCouncliForm" >
                  <div class="row mb-3" style="margin-bottom: 10px;">
                    <label for="Address" class="col-md-4 col-lg-3 col-form-label">Giảng viên</label>
                    <div class="col-md-4 col-lg-5 d-flex align-items-center" >
                      <select class="form-select form-select-sm " #select formControlName="teacherId"  aria-label=".form-select-lg example">
                        <option value="" disabled>--Chọn giảng viên--</option>
                        <option *ngFor="let t of teachers" value="{{t.teacherId}}" >{{t.teacherName}}</option>
                      </select>
                    </div>
                  </div>
                  
                  <div class="row mb-3">
                    <label for="Address" class="col-md-4 col-lg-3 col-form-label">Hội đồng</label>
                    <div class="col-md-4 col-lg-5 d-flex align-items-center" >
                      <select class="form-select form-select-sm " #select formControlName="councilId" aria-label=".form-select-lg example">
                        <option value="" disabled>--Chọn hội đồng--</option>
                        <option *ngFor="let s of counclis" value="{{s.coucilId}}">{{s.coucilName}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="text-center">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#verticalycentered">
                      Thêm mới
                    </button>
                  </div>
                  <div class="modal fade" id="verticalycentered" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Vertically Centered</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          Xác nhận thêm giảng viên vào hội đồng
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary" (click)="addTeacherCouncli(addTeacherCouncliForm.value)">Xác nhận</button>
                        </div>
                      </div>
                    </div>
                  </div><!-- End Vertically centered Modal-->
  
                </form><!-- End Profile Edit Form -->
  
              </div>
  
            </div><!-- End Bordered Tabs -->
  
          </div>
        </div>
  
      </div>
    </div>
  </section>
  