<div class="pagetitle">
    <h1>Account</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a (click)="onClick()">Student</a></li>
        <li class="breadcrumb-item active">Cập nhập tài khoản</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  <section class="section profile">
    <div class="row">
      <div class="col-xl-12">
  
        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">
  
              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-edit">Changes Password</button>
              </li>
            </ul>
            <div class="tab-content pt-2">
              <div class="tab-pane fade show active profile-edit pt-3" id="profile-edit">
  
                <!-- Profile Edit Form -->
                <form [formGroup]="updateAccountForm" (ngSubmit)="UpdateAccount(updateAccountForm.value)">
  
                  <div class="row mb-3" style="margin-bottom: 10px;">
                    <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Username</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="fullName" formControlName="username" type="text" class="form-control" id="fullName" >
                      <!-- <p class="text-danger mt-2"  *ngIf="(addForm.get('studentName').touched ||submited)&& addForm.get('studentName').errors?.['required']">Trường này không được bỏ trống.</p> -->
                    </div>
                  </div>
                   <div class="row mb-3" style="margin-bottom: 10px;">
                    <label for="Country" class="col-md-4 col-lg-3 col-form-label">Password</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="country" formControlName="password" type="password" class="form-control" >
                    
                    </div>
                  </div>
                
                  <div class="text-center">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#verticalycentered">
                      Cập nhập tài khoản
                    </button>
                  </div>
                  
                  <div class="modal fade" id="verticalycentered" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Vertically Centered</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          Bạn có muốn thay đổi mật khẩu không ?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary">Xác nhận</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
  
              </div>
  
            </div>
  
          </div>
        </div>
  
      </div>
    </div>
  </section>
  