
<div class="pagetitle">
    <h1>Hội đồng</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="home/page">Hội đồng</a></li>
        <li class="breadcrumb-item active">Danh sách hội đồng</li>
      </ol>
    </nav>
  </div>
  
      <div class="table-responsive">
          <div class="table-wrapper">
              <div class="table-title">
                  <div class="row">
                      <div class="col-sm-8">
                          <h2>Danh Sách <b>Hội đồng tham gia</b></h2>
                      </div>
                  </div>
              </div>
              <table class="table table-striped table-hover">
                  <thead>
                      <tr>
                          <th>Id</th>
                          <th>Tên hội đồng</th>
                          <th>Đợt bảo vệ</th>
                          <th>Bộ môn</th>
                          <th></th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let m of council">
                          <td><a >{{m.coucilId}}</a></td>
                          <td>{{m.coucilName}}</td>
                          <td>{{m.masterName}}</td>
                          <td>{{m.subjectName}}</td>
                          <td></td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  
  