<div class="pagetitle">
  <h1>Student</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a>Student</a></li>
      <li class="breadcrumb-item active">Cập nhập giảng viên hướng dẫn</li>
    </ol>
  </nav>
</div><!-- End Page Title -->
<section class="section profile">
  <div class="row">
    <div class="col-xl-12">

      <div class="card">
        <div class="card-body pt-3">
          <!-- Bordered Tabs -->
          <ul class="nav nav-tabs nav-tabs-bordered">

            <li class="nav-item">
              <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-edit">Cập nhập giảng viên hướng dẫn</button>
            </li>
          </ul>
          <div class="tab-content pt-2">
            <div class="tab-pane fade show active profile-edit pt-3" id="profile-edit">

              <!-- Profile Edit Form -->
              <form [formGroup]="updateScoreForm" (ngSubmit)="updateScoreArgument(updateScoreForm.value)">

                <div class="row" style="margin-bottom: 15px;">
                  <div class="col-lg-3 col-md-4 label ">Họ và tên</div>
                  <div class="col-lg-9 col-md-8">{{materDetail?.studentName}}</div>
                </div>

                <div class="row" style="margin-bottom: 15px;">
                  <div class="col-lg-3 col-md-4 label" >Mã số sinh viên</div>
                  <div class="col-lg-9 col-md-8">{{materDetail?.mssv}}</div>
                </div>

                <div class="row mb-3" style="margin-bottom: 10px;">
                  <label for="Address" class="col-md-4 col-lg-3 col-form-label">Giảng viên hướng dẫn</label>
                  <div class="col-md-4 col-lg-5 d-flex align-items-center" >
                    <select class="form-select form-select-sm " #select formControlName="teacherHDId"  aria-label=".form-select-lg example">
                      <option value="" disabled>--Chọn giảng viên hướng dẫn--</option>
                      <option *ngFor="let t of teachers" value="{{t.teacherId}}" >{{t.teacherName}}</option>
                    </select>
                  </div>
                </div>
                <div class="text-center">
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#verticalycentered">
                    Gửi yêu cầu 
                  </button>
                </div>
                
                <div class="modal fade" id="verticalycentered" tabindex="-1">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Vertically Centered</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          Gửi yêu cầu đến giảng viên hướng dẫn
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Xác nhận</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>

            </div>

          </div>

        </div>
      </div>

    </div>
  </div>
</section>
